[2017-09-06 07:30] kurniawan77 opened #9 "invalid config in hass.io/ hassbian"
installed as described in hass.io 0.52.1 i get the following errors in log:

2017-09-06 09:23:31 ERROR (MainThread) [homeassistant.setup] Error during setup of component toon
[code]

please advise

[2017-09-16 10:06] kurniawan77 commented on #9
I get the same error in Hassbian 0.53.1:

[code]

[2017-09-16 10:39] costastf commented on #9
Hi @kurniawan77
I am on a much older version, I think 0.39. From what I see on the stack trace it fails on updating the smartplugs values. What components do you use? Do you only have Toon, or do you also have fibaro plugs, solar and such. It might be that we are not properly identifying them dynamically but if you don't have components it would be good if you explicitly disable them in your confi

[2017-09-16 10:46] kurniawan77 commented on #9
Hi Costas,

I do not have solar. I do have plugs but those aren't fibaro's and they
don't measure power.

How can I disable them in configuration?

On Sep 16, 2017 12:39, "Costas" <notifications@github.com> wrote:

Hi @kurniawan77 <https://github.com/kurniawan77>
I am on a much older version, I think 0.39. From what I see on the stack
trace it fails on updating the smartplugs values. What componen

[2017-09-16 10:52] costastf commented on #9
Are your plugs connected with toon? Does toon handle them in some way? Because then we might need to update the underlying library to be aware of this case. As a workaround for now you can try to comment out lines #103-108 of https://github.com/krocat/ToonHA/blob/master/toon.py and see how that works for you.

[2017-09-16 11:53] kurniawan77 commented on #9
Yes, my plugs are connected to toon and I only can switch them on and off
with toon. It works perfect on toon. I will try to uncomment the lines and
see if it works this evening.

On Sep 16, 2017 12:52, "Costas" <notifications@github.com> wrote:

Are your plugs connected with toon? Does toon handle them in some way?
Because then we might need to update the underlying library to be aware of
this ca

[2017-09-16 11:55] costastf commented on #9
Right. In that case we need to update the underlying library with a model of your plugs so it is aware of how they show up and what are their capabilities. Please let me know how commeting out goes and then we can try to fix them in toonlib and have your stuff working at least with switching.

[2017-09-16 21:26] kurniawan77 commented on #9
Good news!

In dev-state list i now have:

- climate.toon_van_eneco

- group.all_switches, with switch.bank_hoek and switch.tv_hoek but these two don't come up separately in the dev-state entity_id list and/ or in the "Home" view. However, i can call the services in dev-service and switch them on and off.

- sensor.gas_current
- sensor.gas_today
- sensor.power_current
- sensor.power_today

in the

[2017-09-17 08:55] costastf commented on #9
Ok, cool. That means that I need to handle your plugs in toon lib as a
device. Today I will be off but tomorrow I will give you some steps to
follow if you want to help out to fix this. It should be an easy fix.

On Sep 16, 2017 23:26, "kurniawan77" <notifications@github.com> wrote:

[2017-09-17 13:57] kurniawan77 commented on #9
sure/no/problem

[2017-09-18 07:08] costastf commented on #9
What I need for you to do is
install toonlib from pypi

use python REPL

from toonlib import Toon
import logging
import pprint
logging.basicConfig(level=logging.DEBUG)

toon=Toon(EnecoUsername, EnecoPassword)
print toon.smartplugs # (to get the state)

pprint.pprint(toon._state)

and provide me with the outcome of that print, after you censor all the personal info that might be in there. Thanks in

[2017-09-19 14:08] kurniawan77 commented on #9
Sorry for responding late.

I think i need some guidance with this. I am not so familiar with this.

[2017-09-19 14:30] costastf commented on #9
I think @krokat is much more suitable to guide you since he was the one
who tried to do it the first time.

kind regards

Costas

On 09/19/2017 04:14 PM, kurniawan77 wrote:

[2017-09-19 20:40] kurniawan77 commented on #9
Oké no problem.

[2017-09-20 06:00] costastf commented on #9
Sorry, I mixed up the threads. I will guide you with this. What operating
system are you on?

On Sep 19, 2017 22:40, "kurniawan77" <notifications@github.com> wrote:

[2017-09-20 13:37] kurniawan77 commented on #9
O great!

My personal/ work laptop is windows10 with python 2.7.13 installed. And i have one raspberry2 running wheezy and raspberry3 running from hassbian image. 0.53.1

[2017-09-20 13:48] costastf commented on #9
Great!

I think that things will be easier with the wheezy one.
So on that get a shell and install toonlib.
if you don't have pip:
    sudo apt-get install python-pip

it would be good to use virtualenv but this is out of the scope of this right now... If you do know how to use it please do.

if you do have pip:
    pip install toonlib, ptpython  # ptpython is a very nice python REPL
start ptpytho

[2017-09-25 14:06] kurniawan77 commented on #9
i get :

[code]

[2017-09-25 19:54] costastf commented on #9
@kurniawan77 after updating the underlying toonllib dependency, please give this a try. Update the dependency in the main toon.py file of this add on to reflect the newest version.
So line 15 should be from ```REQUIREMENTS = ['toonlib==1.0.0']``` to ```REQUIREMENTS = ['toonlib==1.0.1']```
Give this a go and post here if everything is working as expected so I can close both issues. Thanks for all y

[2017-09-26 07:41] kurniawan77 commented on #9
@costastf , Good morning.

Did it yesterday evening. It's working!
![image](https://user-images.githubusercontent.com/3305888/30848076-28a2ce6e-a29e-11e7-9eaf-3c59baa772d7.png)
![image](https://user-images.githubusercontent.com/3305888/30848114-59de831a-a29e-11e7-9dc8-b94da5539be8.png)
![image](https://user-images.githubusercontent.com/3305888/30848134-6a1420e6-a29e-11e7-8fa9-068b38cb4684.png)
![i

[2017-09-26 09:34] costastf commented on #9
This is as you can see a "http.client.BadStatusLine: '' which means that something on the network barfed. That being said please update to version 1.0.2 because I have implemented a very small change that would help perform less network calls and let me know how it went. Thanks!

[2017-09-27 20:15] kurniawan77 commented on #9
Hi!

I'm getting less errors with 1.0.2 but the warnings still come over time.

[code]

Although, besides the errors, it works fine.

[2017-09-28 06:52] costastf commented on #9
I cannot imagine how this could be the underlying libraries issues since what that does is gets any information that it can from the api (which sadly is very inconsistent) and caches them and any access to any internal object is being serviced by the cache so there are not network calls being performed. This would seem like some kind of locking issue from HA's side. I will go ahead and close this

[2017-09-28 06:54] #9 closed, assigned to nobody

[2017-09-29 06:59] kurniawan77 commented on #9
Well... somewhere in the middle of the night something went wrong...

[home-assistant.log](https://github.com/krocat/ToonHA/files/1343329/home-assistant.log)

just reporting and rebooting

[2017-09-29 19:53] mathijsblokland opened #12 "Unable change state to Comfort through scenes in HA"
If i want to change the `operation_mode` to **Comfort** i'm getting the following error:

[code]

I stumbled upon this error while i was configuring my amazon echo to communicate with Home Assistant and return the temperature or changing the operation mode. So i thought i was doing something wrong, but this also occurs when you click on the states buttons in the climate panel.

![](http://img.spri

[2017-10-02 08:15] costastf commented on #12
I am not using scenes so not really sure what is going on. Can you update the thermostat state from the basic toon view in HA successfully? If so, then it could be the way you set up scenes. Please provide as much details as possible for your set up so I can try to help you.

[2017-10-13 14:08] boltgolt opened #13 "Exposing burner status as binary sensor"
I'd love to implement a binary_sensor for the burner status. The underlying toonlib already supports it through the `toon.thermostat_info.burner_info` property, as i'm sure you know.

Just asking if that's a good addition, if it's something you don't find useful or out of scope i'll just bodge it together locally.

[2017-10-13 14:10] costastf commented on #13
My take is that anything that you ended up needing is going to be something that someone else would probably need at some point too. So by all means please implement it and make an MR for the feature. Thanks!

[2017-10-13 14:11] costastf commented on #12
@mathijsblokland Since you haven't come up with any feedback on this I will close it. If you do come up with feedback feel free to open it right back.

[2017-10-13 14:11] #12 closed, assigned to nobody

[2017-10-13 15:25] boltgolt commented on #9
Experiencing the same issues here. This has probably been going on for some time already, but i've been looking a lot more at my console now because of #13. I'm noticing that sensors won't update while it's spamming the `Update of X is taking over 10 seconds` warnings.

![](https://i.imgur.com/Y4aDH0x.png)

It's still outputting the warnings regularly, but the sensor values won't change. The app s

[2017-10-13 15:56] boltgolt commented on #9
I did some digging.

Looking at wireshark, toonlib makes 2 requests to the eneco servers. About 10 seconds later we get the 2 warnings above, as you'd expect. 10 more seconds after that home assistant logs the following on the DEBUG channel:

[code]

The "Status Code" lines seem to come from the failure to decode JSON [here](https://github.com/costastf/toonlib/blob/master/toonlib/toonlib.py#L206),

[2017-10-13 16:44] boltgolt commented on #9
I can reproduce this issue with toonlib alone, so this isn't a problem with ToonHA itself. Moving issue [over here](https://github.com/costastf/toonlib/issues/2). Sorry for the spam.

[2017-10-16 20:15] #13 closed, assigned to nobody

[2017-10-18 08:34] mathijsblokland commented on #12
Hi @costastf, sorry for not replying but i haven't been able to work on my home automation for a while. Once i'm able to look into it again i'll post the details of my setup & configuration.

[2017-11-16 06:45] remkolodder opened #17 "Toon component stops processing data"
Hi,

There seem to be an issue with Toon and the Toon-Hass component. Since updating to 0.57.x the component works for a little and then stops processing data. I cannot control Toon via the buttons within HASS, nor with automation, and the value readings are "stale".

The log is "flooded" with \:

2017-11-16 07:36:53 WARNING (MainThread) [homeassistant.helpers.entity] Update of sensor.gas_today is

[2017-11-16 07:38] boltgolt commented on #17
Unrelated to the Toon component itself, as the API seems fully down. I think this can be closed. Thanks for taking the time to report it though!

[2017-11-16 07:40] remkolodder commented on #17
Hi Boltgolt,

yes mentioned on the community pages, yes this might have been a bit premature :-) thanks a lot for responding and the great work!

[2017-11-16 07:40] #17 closed, assigned to nobody

[2017-11-16 21:15] mlowijs opened #18 "Error while setting thermostat setpoint from Siri on Apple Watch"
While setting the temperature of Toon through Siri on my Apple Watch, the following error pops up in my hass logs:

`2017-11-16 22:08:11 ERROR (MainThread) [homeassistant.core] Error doing job: Task exception was never retrieved
Traceback (most recent call last):
  File "/usr/lib/python3.6/asyncio/tasks.py", line 182, in _step
    result = coro.throw(exc)
  File "/opt/hass/lib/python3.6/site-packa

[2017-11-16 21:28] boltgolt commented on #18
Thanks for reporting this and making the stack trace more readable! Siri seems to want to tell Toon to go into a mode called "auto", but that's not a mode Toon supports. When exactly does this error show up?

I take it that by removing the line the Toon will also stop updating the program on the thermostat?

[2017-11-16 21:39] mlowijs commented on #18
The error shows up if I give the voice command `Siri, set the thermostat to xx degrees`, regardless of the current setpoint or program Toon is in.

I think the mode switching is something that HomeKit/Homebridge does. The following log messages show up in Homebridge when I set a temperature/give the above voice command:

[code]

I'm not sure why it is trying to do that mode switch.

HomeKit allows

[2017-11-16 22:00] mlowijs commented on #18
I created a pull request ( #19 ) to work around this issue.

[2017-11-20 09:52] mlowijs commented on #18
Pull request merged, thanks!

[2017-11-20 09:52] #18 closed, assigned to nobody

[2017-12-06 15:11] mlowijs opened #21 "Pulling changes into HA"
Wasn't sure where to ask this, but here we go: at what point will the changes in this repository be merged into the HA repository? Are there rules for that?
I've been running the code in this repository for a while now and it seems to work fine.

Means I won't have to run custom_components anymore 😄

[2017-12-06 15:27] boltgolt commented on #21
What i hear is that there's a new API coming, i think we should merge this again when that's tested and implemented. There are no real rules for that though, we could merge this at any time.

[2017-12-06 15:36] mlowijs commented on #21
Okay! Good to know, and that sounds like a good idea. Surely many people will appreciated the improved stability of this code base over the older version. 😃

[2017-12-06 15:45] costastf commented on #21
Not much more stability I am afraid since the api that feeds the data is
very unstable. I will soon look at the new api and see how that goes.

On Wed, Dec 6, 2017 at 4:36 PM, Michiel Lowijs <notifications@github.com>
wrote:

[2017-12-16 13:38] costastf commented on #21
Just a quick update here, toonapilib is around 95% done. Currently missing the active part of actually setting values and switching things on and off and enabling the caching. Should be done the next time I sit with it. We can retain full compatibility with the old toonlib so the only thing that we will need once the library is done is to update the component for the new extra arguments of oath_se

[2017-12-18 20:23] mlowijs commented on #21
Great work @costastf! 😀

[2018-01-10 20:20] costastf commented on #21
The discussion about this issue is happening at https://community.home-assistant.io/t/toon-van-eneco-custom-component/16027/188 so I am closing this.

[2018-01-10 20:20] #21 closed, assigned to nobody

[2018-01-13 13:22] PostSven opened #23 "Setup failed for toon: Component failed to initialize."
using the new files.

b'{"fault":{"faultstring":"Invalid Authorization Code","detail":{"errorcode":"keymanagement.service.invalid_request-authorization_code_invalid"}}}'
NoneType: None

configuration.yaml entries:
toon:
 username: 'username'
 password: 'password'
 consumer_key: consumerkey
 consumer_secret: consumersecret

[2018-01-13 13:27] boltgolt commented on #23
Could this be related to toonapilib? @costas

[2018-01-13 13:28] PostSven commented on #23
Setup failed for toon: Component failed to initialize.
‎14‎:‎26 setup.py (ERROR)

b'{"fault":{"faultstring":"Invalid Authorization Code","detail":{"errorcode":"keymanagement.service.invalid_request-authorization_code_invalid"}}}'
‎14‎:‎26 /config/deps/lib/python3.6/site-packages/toonapilib/toonapilib.py (ERROR)

[2018-01-13 13:43] costastf commented on #23
Does the library work by itself for you @PostSven ? Although the message is pretty self explanatory. Could you post the whole stack trace here please?

[2018-01-13 13:52] PostSven commented on #23
The old component worked fine for me.

What do you need me to do, I am kind of new to all of this :) sorry

This is my full error log now:
8-01-13 14:53:23 WARNING (MainThread) [homeassistant.setup] Setup of sensor is taking over 10 seconds.
2018-01-13 14:53:25 WARNING (MainThread) [homeassistant.setup] Setup of media_player is taking over 10 seconds.
2018-01-13 14:53:27 ERROR (SyncWorker_12) [too

[2018-01-13 15:00] kurniawan77 commented on #23
I am getting the same too...

[code]

configuration.yaml
[code]

[2018-01-13 15:19] kurniawan77 commented on #23
getting one step further.... @PostSven you might need to change username and password from Toon to the new ToonAPI username and password. i don't get that error anymore but..... i now get:

`2018-01-13 16:15:38 ERROR (MainThread) [homeassistant.setup] Setup failed for toon: Component failed to initialize.`

[2018-01-13 15:54] costastf commented on #23
Right, the username and password are not the eneco ones but the api ones. Please make sure that your app in the new api is enabled. If that is the case try out the library outside of the component to help troubleshoot. In a pc with python install http://toonapilib.readthedocs.io/en/latest/installation.html and then try to authenticate and use it http://toonapilib.readthedocs.io/en/latest/usage.htm

[2018-01-13 17:24] PostSven commented on #23
Traceback (most recent call last):
  File "C:\Users\User\Desktop\Test.py", line 8, in <module>
    toon=Toon(eneco_username, eneco_password, consumer_key, consumer_secret)
  File "C:\Users\User\AppData\Local\Programs\Python\Python36-32\lib\site-packages\toonapilib\toonapilib.py", line 96, in __init__
    self._authenticate()
  File "C:\Users\User\AppData\Local\Programs\Python\Python36-32\lib\site-

[2018-01-13 17:29] boltgolt commented on #23
I'm getting the same error on an installation that worked just fine 3 days ago, i have no clue what has changed but i'm looking into it.

[2018-01-13 17:42] boltgolt commented on #23
@costastf i'm getting a thrown `toonapilib.toonapilibexceptions.InvalidCredentials` error when i enter my **Toon developer account** credentials, but when i use my **Toonopafstand** details i get:

[code]

and a `toonapilib.toonapilibexceptions.InvalidConsumerSecret` gets thrown while i'm 100% sure it's correct.

[2018-01-13 17:52] boltgolt commented on #23
It seems like something is specifically going wrong with the customer secret, the customer key is accepted just fine. As I'm quite sure now that it's a problem in the underlying library I'll leave this one to you, unless you're too busy @costastf

[2018-01-13 18:24] costastf commented on #23
I am getting the same error and as this is not an error coming from the library but from the underlying service as it is plain to see, I would guess that there is something wrong with the toonapi service. Right now the only thing I can suggest is to give it some time in case it is an intermittent authorization service issue. If this keeps up, the next step is to communicate with the service.

[2018-01-13 18:28] costastf commented on #23
The credentials I have been using and it has been working, just to clarify are the eneco credentials, the ones one would use to connect to the eneco site as username and password and not the ones created for the api.

[2018-01-13 18:41] costastf commented on #23
So, looking into their documentation, it seems that they have changed the authentication process. So much for "official, stable api". Anyway,I will have a look tomorrow morning and try to figure out the changes and implement them. Until then, have a wonderful evening everyone.

[2018-01-13 18:57] kurniawan77 commented on #23
Same to you @costastf

[2018-01-13 19:57] boltgolt commented on #23
Nice one, and great timing with this merge Eneco. If i can do anything to help just @ me.

[2018-01-14 12:45] costastf commented on #23
toonapilib v1.0.1 fixes the authentication issue. Lets see ...

[2018-01-14 12:47] costastf commented on #23
Bumped version of toonapilib in ToonHA. Please provide feedback here.

[2018-01-14 14:10] boltgolt commented on #23
That fixed it, it's working as expected for me.

[2018-01-14 14:56] PostSven commented on #23
Same for me, running fine now!

Thanks for the hard work everyone

[2018-01-14 15:11] kurniawan77 commented on #23
Just came back from a walk and noticed this... tested right away aaaand works!

Thanks a lot you guys!

[2018-01-15 08:32] #23 closed, assigned to nobody

[2018-02-14 08:44] Z-pi opened #27 "Temperature not changing"
When i change the temperature of the thermostat in Home assistant. the temperature doesn't change on the thermostat. if i use the toon app the temperature does change.

Home Assistant 0.63.1

[2018-02-14 12:49] boltgolt commented on #27
Now i'm thinking about it, i do have this issue as well. Not sure if it's every time i try to set a program or just every once in a while.

[2018-02-14 12:51] costastf commented on #27
I think that the new library should not have an issue with that. There was a race condition on the api because changes are delivered as a full payload for temperature as well as thermostat state but is caught and fixed with the latest toonapilib version.

[2018-02-14 15:38] Z-pi commented on #27
Is the new version already implemented in ToonHA?

[2018-02-14 15:40] boltgolt commented on #27
I haven't implemented the latest version into ToonHA yet, hoping to do so asap

[2018-02-14 15:41] Z-pi commented on #27
Ok great. thank you for the responses

[2018-03-22 15:13] boltgolt commented on #27
#29 includes the newest library version, but does not fix the temperature issue. Looking at my logs i can see the following:

[code]
The `"errorFound" : 255` part seems quite worrying to me.

[2018-03-22 17:51] Z-pi commented on #27
I have installed your code and it sometimes works when changing the temperature, it seems that i have more success when lowering the temperature

[2018-03-23 12:46] kvandt opened #30 "Solar"
Hi,
I think there is a naming problem with
            SolarSensor(hass, 'Solar_meter_reading_low_produced', 'kWh'),
            SolarSensor(hass, 'Solar_meter_reading_produced', 'kWh'),
The numbers you get are not Solar, but the meter readings for Feed-In into the grid. Off course this is a result of Local production, but not the same as amount produced. I would suggest a name like 'Power_meter_r

[2018-03-26 14:55] dreamfoxmedia opened #31 "mode unavailable"
Hello,

with the default toon integration i was using google assistant to set temperature
With the custom toonHA when i give a command i always get:
that mode is not available.
how can i get it to work with google assistant (google home)

[2018-04-02 09:38] costastf commented on #31
Hi @dreamfoxmedia , we are going to need a lot more info than that to be able to help you. How have you set up the interfacing, OS, some more concrete error message, actual version you are using...

[2018-04-02 09:40] costastf commented on #30
Hi @kvandt , I do not actually have solar so you might as well be right. Would you mind making an MR with the proposed changes in toonapilib and this component since you obviously have solar and we could use your help?

[2018-04-02 09:42] costastf commented on #27
Hi @Boltgolt and @Z-pi . Could you please try out toonapilib straight and report if this is an issue there? If this is due to the library maybe I can investigate further. If it is not then it is propably HA and we need to escalate in some way to HA developers after we have some more info.

[2018-04-03 09:12] Housebeer opened #32 "sensor 'error':'no data' after latest update"
**Behavior:**
After the latest update my meter_readings sensors are not responding. Smartplugs are working, current consumption is also working so it seems like there is an issue between the library and the custom component. I'm reading through the code of both but haven't found the issue.

**Image of HA frontend with problem:**
![image](https://user-images.githubusercontent.com/29223798/38240186-

[2018-04-03 10:33] boltgolt commented on #32
Looks like there's no `powerUsage` key returned from the API? @costastf your the expert on that part, what do you think?

[2018-04-03 18:08] Housebeer commented on #32
I saw the error in my original post is related to the Gas_today sensor, funny enough the gas_today sensor does report the correct value. Meter_reading sensors do not report correctly, so here is an error related to a failing sensor:

[code]

[2018-04-04 15:31] scheric commented on #32
#33
i don't know what happened but compared with a previous code and just saw the entities were gone.

[2018-04-04 15:33] costastf commented on #32
Yeah, we removed them thinking that they are not used on the last commit. Thanks!

[2018-04-04 18:29] Housebeer commented on #32
Fixed in the last #33 merge! Thanks a lot. Issue can be closed if it was up to me.

@costastf I think it is a fun statistic since the daily electricity sensor doesn't tell you if you used it in "dal tarief". With this sensors you could reveal this.

[2018-04-04 18:29] #32 closed, assigned to nobody

[2018-04-05 18:26] kvandt commented on #30
Hi @costastf, I tried to change the names, but for some reason I can't get the Toon plugin working anymore. Even if I reinstall toonapilib and toonha from scratch.
I get an error:
`2018-04-05 20:16:45 ERROR (MainThread) [homeassistant.setup] Error during setup of component toon
Traceback (most recent call last):
  File "/srv/homeassistant/lib/python3.5/site-packages/homeassistant/setup.py", line 1

[2018-04-05 18:36] costastf commented on #30
This seems to be a problem with toonapilib. The powerUsage field is not retrieved on the status of the response which means that the api did no respond with all the expected data. Could you try out the library by itself and open an issue it if it still does not work? I would guess that this is something transient with the api response.

[2018-04-06 22:07] Z-pi commented on #27
Sorry, I don't really know how to use python on a command line

[2018-04-07 08:04] costastf commented on #27
Hi @Z-pi . On any linux or mac system, or windows with python installed you can follow http://toonapilib.readthedocs.io/en/latest/installation.html to install the library and then http://toonapilib.readthedocs.io/en/latest/usage.html for its basic usage. If you get stack on something specific, let me know and I will try to help you.

[2018-04-07 11:21] Z-pi commented on #27
Thank you, I have toonapilib installed and when i start it from the command prompt i get this message: `Traceback (most recent call last):
  File "toonapilib.py", line 40, in <module>
    from .configuration import STATES, STATE_CACHING_SECONDS, BURNER_STATES
ModuleNotFoundError: No module named '__main__.configuration'; '__main__' is not a package`   i don't know where is should put my password.

[2018-04-08 09:25] costastf commented on #27
This seems like the installation is broken. Which python version are you using, how did you install it and what do you mean "when I start it com the command prompt"? Could you please follow the usage documentation and report back with the whole process, obfuscating your personal details?

[2018-04-08 16:56] Z-pi commented on #27
Sorry, i just had one wrong letter in my customer key. i'm testing if there are any issues now

[2018-04-08 17:19] Z-pi commented on #27
Temperature and mode changing is not working in toonapilib   ``print(toon.thermostat_state.name)
print(toon.thermostat_state.id)
print(toon.thermostat_state.temperature)
print(toon.thermostat_state.dhw)
print(toon.temperature)
print(toon.power.value)
toon.thermostat = '14'``    gives ``Home
1
2000
1
21.0
644``

but the temperature is not changing, the same goes for the mode's

[2018-04-08 17:32] costastf commented on #27
The assignment of the value should be a number, without quotes. Please read http://toonapilib.readthedocs.io/en/latest/usage.html carefully and report back the full interaction of what you provide with what the library reports back. It would help to enable debug logging.

[code]

[2018-04-08 18:11] Z-pi commented on #27
Ok, here is the result with debug logging on. the temperature on the thermostat is not changing

`print(toon.thermostat_state.name)````

print(toon.thermostat_state.id)

print(toon.thermostat_state.temperature)

print(toon.thermostat_state.dhw)

print(toon.temperature)

print(toon.power.value)

toon.thermostat = 23`

gives

`c:\Users\Peter\Desktop>py hello.py

DEBUG:toonapilib.Toon:Using patched r

[2018-04-11 18:53] scheric opened #34 "invalid config if API is not available"
Wen Home Assistant cant fetch data from the API home assistant gives an error and shows Invalid config.

Home Assistant can then only discover toon when a new reboot happened and the API is available.

I can fetch data from my toon to Home Assistant. So my configuration is probably alright but if there is a hiccup at boot everything fails.
![prob2](https://user-images.githubusercontent.com/3807735

[2018-04-12 16:16] scheric commented on #34
[code]
After i restarted Home Assistant a few times in a period of an hour i got data from toon again.
but the errors stay.

**Wat i tried to get it working**

1. Remove toon setting in the configuration.yaml
2. Deleting custom_components folder and reinstall everything
3. Deleting the toonlib at  `\deps\lib\python3.6\site-packages` and deleting files that are created by toonlib at `\deps`

What c

[2018-04-18 07:34] PostSven opened #35 "Error during setup of component toon"
I am getting the following error since yesterday:

Running the latest Hass version (Docker image) and the latest toon custom component.

[code]

[2018-04-18 10:17] PostSven commented on #35
Just to add some more to this, i have tried to print the (toon.power.value) locally using the toonapilib and i get this error:

[code]

[2018-04-18 11:12] Housebeer commented on #35
I'm having this issue as well after upgrading to Home Assistant 67.0

[2018-04-18 18:17] scheric commented on #35
I am getting this problem too.
Could you try to recover from a backup to see if it is the Home Assistant update or if it is something else?
It could be toon changing something in their servers if you look at this https://github.com/costastf/toonapilib/issues/7

[2018-04-19 09:30] wtrdk commented on #35
I use toonapilib from costastf without Home Assistant, and I experience the same issue, so it's not Home Assistant's fault ;-)

[2018-04-21 10:37] #35 closed, assigned to nobody

[2018-04-26 17:11] kvandt commented on #30
Merge request created.

[2018-04-27 19:44] scheric commented on #34
This problem is not created by this code it is the toonapilib from: https://github.com/costastf/toonapilib
Look at issue: https://github.com/costastf/toonapilib/issues/8

[2018-04-27 19:44] #34 closed, assigned to nobody

[2018-05-30 14:06] scheric opened #38 "increadably low current gass usage"
Some times i am getting a incredibly low value for current gas usage.

![low gas usage](https://user-images.githubusercontent.com/38077357/40725127-ea34066a-6422-11e8-8434-a60f077460c2.PNG)

fix: adding a simple if statement.

[2018-05-31 09:36] #38 closed, assigned to nobody

[2018-09-27 19:11] reinder83 opened #40 "Conflict with other HA module"
Hi,

I seems I cannot use this custom_module alongside with the synology camera module, it gives me the following error:

[code]

After investigating where error comes from I see it's inside the toonapilib
https://github.com/costastf/toonapilib/blob/master/toonapilib/toonapilib.py#L247

Is there a way to fix this?

[2018-11-01 08:17] MagieMalone opened #42 "warnings in install and logging since HA version 0.81"
upgrade gives the following warning:
toonlib 1.0.2 has requirement cachetools==2.0.0, but you'll have cachetools 2.0.1 which is incompatible.
toonlib 1.0.2 has requirement requests==2.13.0, but you'll have requests 2.20.0 which is incompatible.
toonapilib 3.0.1 has requirement requests==2.18.4, but you'll have requests 2.20.0 which is incompatible.

HA log after starting:
2018-11-01 09:10:25 ERROR

[2018-11-01 09:14] scheric commented on #42
That's quite strange. I am running home assistant on 0.81.2 and I am not having any errors. And my sensors are working. After a reboot.

[2018-11-01 09:30] MagieMalone commented on #42
I'm on hassbian, maybe that's a contributing factor. Back when I started, there was no hass.io version for the new pi's

edit:
also despite the warnings it seems to work alright... wierd.

[2018-11-01 09:42] scheric commented on #42
That could be a factor because I am using Hass.io.

Or there is a conflict with the integrated toon component
home-assistant/home-assistant#18092

[2018-11-09 21:34] #31 closed, assigned to nobody

[2018-11-09 22:24] scheric commented on #31
@dreamfoxmedia you are not giving us a lot of information.
I think I know the problem you have. I have experienced it myself.

I have a custom thermostat using the `generic_thermostat` It is called `computerhok`

I haven’t seen any errors in the home assistant log.
As you can see in the pictures I am getting the current temperature.
If I ask google to do something with the `toon van eneco` thermos

[2018-12-14 10:52] scheric commented on #31
Home Assistant has fixed there integrated toon component in version 0.84 home-assistant/home-assistant#18966

[2018-12-26 18:09] #30 closed, assigned to nobody

[2018-12-26 18:09] kvandt commented on #30
Merged

[2018-12-30 21:35] exqua opened #44 "Error during setup of component toon"
I all,

I get the following error when i want to use toon in Home Assistent.
Can someone help me out with this?

**********************************************************************************
Error during setup of component toon
Traceback (most recent call last):
  File "/config/deps/lib/python3.6/site-packages/toonapilib/toonapilib.py", line 319, in _get_status_value
    output = self.status[

[2018-12-30 23:48] scheric commented on #44
Hi, As you can see in the last line: {'code': 500, 'message': 'Internal Server Error', 'description': 'Error communicating with Toon'}

problem:

The toon servers aren't so strong. They regularly fail.

solution:

Reboot home assistant and check for errors

[2019-01-01 16:22] exqua commented on #44
Hi Scheric,
Thanks for your input.

I've reboot like 20 times in the last 2 days.
Are there other options i can try?

Thanks.

[2019-01-01 16:50] costastf commented on #44
you can try rebooting toon itself, it has been known to fix issues.

On Tue, Jan 1, 2019, 17:22 Wesley <notifications@github.com wrote:

[2019-01-01 20:12] scheric commented on #44
If it does not work after an reaboot from toon. You could try the official TOON  Android / iOS app.

[2019-01-02 12:37] thumbnail commented on #27
@boltgolt [according to the doc](https://developer.toon.eu/api-intro) `errorFound` has to be `255` and indicates nothing is wrong (strangely :P)

I did not run into this specific issue, although i cannot set the temperature through HA using a google home, hence why i ran into this issue. I'll create a separate issue if I get a  repeatable scenario though.

[2019-01-02 23:57] exqua commented on #44
Hi, The official app does work perfectly so i think i made a mistake. but i can't find it.

[2019-01-03 07:46] scheric commented on #44
Check the API key from the developer website. Or create an new API key.

[2019-02-14 13:41] MartVisser commented on #40
Same issue here..

@reinder83 did you find any solution?

[2019-02-14 14:06] reinder83 commented on #40
I am not using this custom module anymore at the moment, the default toon module for HA started working again for me

[2019-02-14 14:12] MartVisser commented on #40
Are you sure? Toon/Eneco disabled the (old) API a few days ago, and that API is used by the default Toon module in HA, see: https://github.com/home-assistant/home-assistant/issues/21010

[2019-02-14 14:56] reinder83 commented on #40
Hmm you are right, it seems it's not updating anymore, so yeah would be nice if this issue gets fixed

[2019-02-14 15:46] costastf commented on #40
Hi @reinder83 ,sorry this completely fell through the cracks. I will fix the issue of the monkey patched version during the weekend.

[2019-02-16 11:31] costastf commented on #40
This should be properly handled by v3.0.4 of the library. Apologies for missing this for so long.

[2019-02-16 11:31] #40 closed, assigned to nobody

[2019-02-16 11:33] costastf commented on #27
I cannot reproduce this to troubleshoot, so if people still have problems with this please re open it.

[2019-02-16 11:33] #27 closed, assigned to nobody

[2019-02-16 11:34] costastf commented on #44
I am guessing this was an issue with the service. If @exqua  you still have issues please reopen.

[2019-02-16 11:34] #44 closed, assigned to nobody

[2019-02-16 11:36] costastf commented on #42
The unofficial api has been discontinued by eneco so toonlib will never work again. We need to update the official component to use the official api. Since this is kinda moot now, due to the above, closing it.

[2019-02-16 11:36] #42 closed, assigned to nobody

[2019-02-21 15:26] MartVisser commented on #40
@costastf Issue is still there after updating to 3.0.4

toonapilib in /usr/local/lib/python3.7/site-packages (3.0.4)

[code]

[2019-02-21 21:07] PKonlinegithub opened #46 "update 0.88 HA"
Hey,

After I installed the update 0.88 of HA, the plug-in of ToonHA (api) did not work anymore.
I received a warning in 0.87.1 but just ran the plugin. Now it is stopped. You may know a solution.
the say in there release:
We have tightened config validation, so expect a couple of new warnings. Platform configuration will no longer allow to contain keys that are not supported. This should help wit

[2019-02-23 10:40] costastf commented on #46
There is currently an effort with a new component in HA that will superseed this completely. This component will probably get no more development.

[2019-02-23 10:40] #46 closed, assigned to nobody

[2019-03-06 20:31] rikmaris opened #50 "Beta Home Assistant 0.89.0b2 - policies.ratelimit.QuotaViolation"
After installing the BETA of Hass, connecting with toon. I get this issue:
(i removed my personals)

Strange one: i connect to toon with @hotmail.com e-mailadress. And in this log file is my @gmail.com emailadres.. i don't get it..

Error setting up entry eneco-001-xxxx for toon
Traceback (most recent call last):
  File "/config/deps/lib/python3.7/site-packages/toonapilib/toonapilib.py", line 175,

[2019-03-06 20:40] costastf commented on #50
As you can see from the last message, you are in quota violation with the service. Not sure how you get that, never happened to me. As for the email issue, that is indeed strange. Can you please try the library out of home assistant context and report back?

[2019-03-06 20:44] scheric commented on #50
there is a hidden folder in you configure folder. In that folder is  a file that is called config_entries. (Mary something like that)
The data stored in that place is used for the integrated home assistant component
![config](https://user-images.githubusercontent.com/38077357/53912792-006eb380-405a-11e9-8a92-bf30da42dca4.PNG)

You can always add this component to test the API. (instructions are in

[2019-03-06 20:46] rikmaris commented on #50
How does it works? I don't know what to do

[2019-03-06 20:51] costastf commented on #50
You can follow installation instructions and usage from https://toonapilib.readthedocs.io/en/latest

[2019-03-06 20:54] rikmaris commented on #50
In this file is the right username (@hotmail.com) what i use to log on to my toon/mijn eneco.

[2019-03-06 20:58] scheric commented on #50
do you have some leftovers in your configuration.yaml
only this is needed. for the reworked component

[code]

[2019-03-07 10:55] rikmaris commented on #50
1. I have no leftovers of the custom component
2. After a restart of Hass it works. Very nice. But after 1,5 hours the issue is back again.
I did restart Hass at 8:11 AM this morning. And at 09:52 AM the first error occured.

deps/lib/python3.7/site-packages/toonapilib/toonapilib.py (ERROR) - message first occured at 09:52 and shows up 46 times

[2019-03-07 12:33] scheric commented on #50
Do you have any other components that use an email address for authentication.

[2019-03-07 12:54] rikmaris commented on #50
it looks like my account for https://developer.toon.eu/ is the problem. That's one is in use for this. All other auth by e-mailadress has an sepparated account.

So the component polls to many with the account https://developer.toon.eu/. Because is works for 1,5 hour. So my settings are good. But after that time period it's blocked..

[2019-03-07 15:47] rikmaris commented on #50
I have some more errors (not only quota violation); i will post them below

1:
pdate for sensor.current_power_usage fails
Traceback (most recent call last):
  File "/config/deps/lib/python3.7/site-packages/toonapilib/toonapilib.py", line 351, in _get_status_value
    output = self.status[value]
  File "/config/deps/lib/python3.7/site-packages/cachetools/__init__.py", line 48, in wrapper
    cache[

[2019-03-07 19:56] michelmolleman opened #51 "Home assistant fails to load toon.climate"
First of all, great work. all sensors are working as expected except the thermostat. I get the following error with home assistant 0.89:

Error loading custom_components.toon.climate. Make sure all dependencies are installed
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/homeassistant/loader.py", line 166, in _load_file
    module = importlib.import_module(path)

[2019-03-08 08:09] scheric commented on #51
The climate constants have bin moved in HA home-assistant/home-assistant#20945
I am working on a fix.

[2019-03-08 08:46] scheric commented on #50
@rikmaris are you now using HA: 0.89 or still using a beta version.
I can not reproduce these issues.

***
My https://developer.toon.eu/ account is different than my Eneco account. the API does not give any email address. these errors are really weird

[2019-03-08 09:21] scheric commented on #51
Can you try the new master?

[2019-03-08 14:37] michelmolleman commented on #51
Works like a charm again. Thanks a lot... keep up the good work!

[2019-03-08 20:37] #51 closed, assigned to nobody

[2019-03-08 20:41] costastf commented on #50
@rikmaris can you please try out the library as mentioned in the documentation I specified and report back please?

[2019-03-09 22:09] yellowonblack commented on #50
For the last 5-6 months I used ToonHA custom component and today  I updated to 0.89.1 and tried to use the built-in new Toon component, but after few hours I started to get QuotaViolation error.
Rolling back to ToonHA custom component and everything seems back to normal.

[2019-03-09 22:11] costastf commented on #50
I guess you should open an issue on the official component

[2019-03-09 22:15] yellowonblack commented on #50
The same problem on HA  [https://github.com/home-assistant/home-assistant/issues/21825](url)

[2019-03-09 22:22] yellowonblack commented on #50
This has been done already.

As for the actual ToonHA custom component, it works perfect for my needs.
Thanks to all the contributors.

[2019-03-11 15:09] rikmaris commented on #50
You can close this issue.
i did remove my integration with Nest and the error didn't occur anymore. Only have the same problem as @yellowonblack . So i will use the custom component.

[2019-03-11 15:20] #50 closed, assigned to nobody

[2019-08-17 15:47] henriz opened #53 "Module borked, installation instructions wrong, no custom components, and so forth"
I am installing Home Assistant with Toon. This simply does not work (yet).

I installed the latest home assistant version on a raspberry pi running raspbian. Home assistant is working.

When setting up toon in the configuration.yaml, it only allowes client_id and client_secret as config values (which are the toon API key/secret). So you can't link a contract.

After some searching, I found this gi

[2019-08-17 16:04] henriz commented on #53
In fact, grepping the entire code for home assistant, "STATE_AUTO" does not occur anywhere. IT's not an existing const anymore, apparently.

[2019-08-17 16:17] henriz commented on #53
After adding:

STATE_AUTO = "auto"
STATE_HEAT = "heat"
STATE_ECO = "eco"
STATE_COOL = "cool"
SUPPORT_OPERATION_MODE = 1

To the bottom of /srv/homeassistant/lib/python3.7/site-packages/homeassistant/components/climate/const.py

the constants are found again. The above ones were missing.

But.. then hassio sais this:

Traceback (most recent call last):
  File "/srv/homeassistant/lib/python3.7/site-

[2019-08-17 16:20] henriz commented on #53
I think I found the issue. The consts have probably been renamed to HVAC_MODE_AUTO and so forth

[2019-08-17 17:38] henriz commented on #53
There's more issues. The ECO mode does not exist anymore, and apparently a task exception was not implemented.

[2019-08-17 19:09] henriz commented on #53
Basically, what it boils down to is that the current version of Home Assistant does NOT work with this module anymore.

I'm in the process of changing the module so it will work again. Apparently, they have changed a lot in the climate section.

The climate section now knows presets, and the mentioned modes do not exist anymore, of have been replaced by hvac_mode stuff. Also the async call is not

[2019-08-18 08:54] scheric commented on #53
You are totally right that this component does not work anymore. A lot has been changed after the 0.88 update.

I was the last person who worked on this. I made it work for HA 0.88
After that I left this alone because @frenck integrated a really nice new version in HA

If you are running the latest version of HA I would advice you to use the intergrated component in HA

If you are using a older ve

[2019-08-18 14:31] henriz commented on #53
Aargh :)

I came here because the integrated version does not work, or has incomplete installation instructions :)

It has (in the documentation at least) no way to link the tenant contract to the developersaccount.

[2019-08-18 15:02] scheric commented on #53
You do not need to link both accounts.

Preform this step in HA
- 7Add the Toon integration to your configuration.yaml and restart Home Assistant. Then, go to Configuration > Integrationsand select CONFIGURE next to Toon and follow the setup instructions
(Login with your tenant account)

[2021-02-19 08:50] costastf commented on #53
As mentioned this is only historical and does not work for a long time now, since things are properly integrated in HA,

[2021-02-19 08:50] #53 closed, assigned to nobody